<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="register-container col-md-4 col-sm-8">
        <h1>Register</h1>
        <form action="{{ url_for('register_post') }}" method="POST">
            <input type="email" name="email" class="form-control" placeholder="Email" required>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <select name="subscription" class="form-control">
                <option value="Free">Free</option>
                <option value="Lite">Lite</option>
                <option value="Pro">Pro</option>
                <option value="Full">Full</option>
            </select>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </form>

        <!-- Error Message -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="error">{{ messages[0] }}</div>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>